streamlit>=1.38.0,<1.40.0
pandas>=2.0
plotly>=5.20
pymysql
streamlit-tags==0.1.0  # pin to avoid surprises
Pillow
nltk
spacy==3.7.6  # latest 3.7 series – stable
pdfplumber>=0.11.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
scikit-learn>=1.4
